@import '../../constants/styles/colors';

.flat_button_container {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0.75rem 0.5rem;
    border: none;
    cursor: pointer;
    min-width: 200px;
    background: none;
    
    &:hover {
        background: $porcelian !important;
    }
    &:active {
        background: darken($color: $porcelian, $amount: 5) !important;
    }
}