@import '../../../constants/styles/colors';

.register_page_form_container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;

    &__span_2 {
      grid-column: span 2;
    }
  }

  &__submit {
    padding: 10px 20px;
    background: $butterfly_blue;
    color: white;
    align-self: flex-end;
  }
}